<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A4.3 Portada con Spring Boot</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="/js/jquery-3.5.0.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body style="text-align: center">          
       <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">A4.3 Portada con Spring Boot</h1>
            <p class="lead">
            Ejemplo de Portada usando MVC con spring
            </p>
            <hr class="my-4">
            <div>  
    			<h1>INSTITUTO TECNOLÓGICO SUPERIOR DE LA SIERRA NORTE DE PUEBLA</h1>
    <br>
    			<h2>INGENIERÍA EN INFORMÁTICA</h2>
    <br>
   				 <h4>NOMBRE DEL ESTUDIANTE:</h4> <p>MANUEL TRINIDAD GARCÍA GÓMEZ</p>
    <br>
   				 <h4>NÚMERO DE CONTROL:</h4> <p>173100298</p>
    <br>
    			<h4>FECHA DE NACIMIENTO:</h4> <p>03 / 10 / 1998</p>
    <br>
    			<h4>MATERIA:</h4> <p>DESARROLLO WEB AVANZADO</p>
    <br>
    			<h4>DOCENTE:</h4> <p>ADOLFO LUNA SÁNCHEZ</p>
    <br>
    			<h4>SEMESTRE:</h4> <p>8</p>
    <br>
    			<h4>FECHA:</h4> <p>20 / MAYO / 2021</p>
    <div>

    </div>
            </div>
             <hr class="my-4">
            <div>
                <div class="row">
                    <div class="col-2"> </div>
                    <div class="col-8">
                        <p>Desarrollo web avanzado </p>
                        <p>Manuel Trinidad García Gómez </p>
                        <p>ITSSNP 2021.</p>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>